body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
}

h1 {
  color: #ffd200;
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}

img {
  width: 100%;
  height: auto;
}
